* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
}

.pageList {
    background-color: #23292b;
    color: white;
    padding: 30px 0;
}

.pageList > * {
    height: fit-content;
}

.pageList > header {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
}

.pageList > article {
    padding: 0 0 0 20px;
}

.pageList > footer {
    font-size: 18px;
    margin: 20px 0 0 0;
    padding: 5px 0 5px 20px;
}

.pageList > footer:hover {
    background-color: #3c3f42;
    cursor: pointer;
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}

.pageItem {
    display: inline-block;
    vertical-align: middle;
}

.pageItemText {
    display: inline-block;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.icon {
    --size: 12px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    vertical-align: middle;
    padding: 5px;
}

.icon:not(:first-of-type):hover,
.pageItemText:hover {
    border-radius: 7px;
    background-color: #55595e;
    cursor: pointer;
}

.editor {
    color: white;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 40px 100px;
}

.editor > header {
    height: fit-content;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.editor > article {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
