li {
    width: 100%;
}

li > span:hover {
    background-color: #999;
    cursor: pointer;
}

.createButton {
    margin-left: 6px;
    background: none;
    border: none;
}

.createButton:hover {
    cursor: pointer;
    background-color: #999;
}

.deleteButton {
    margin-left: 6px;
    background: none;
    border: none;
}

.deleteButton:hover {
    cursor: pointer;
    background-color: #999;
}